<apex:page showHeader="false" title="{!$Label.site.error2}" cache="false">
  <apex:composition template="{!$Site.Template}">
    <apex:define name="body">
      <div style="text-align: center">
          <div style="height: 200px"></div>
            <apex:outputPanel layout="block" styleClass="topPanel">
                  <apex:outputText styleClass="title slds-page-header__title" value="{!$Label.site.error}">
                   <apex:param value="{!$Site.ErrorMessage}"/>
                   <!-- this parameter needs to be italic in the site.error label -->
                  </apex:outputText>
                  <br/>
                  <br/>
                  <apex:outputText escape="false" value=" {!$Label.site.get_in_touch}">
                   <apex:param value="mailto:{!$Site.AdminEmailAddress}"/>
                   <apex:param value="{!$Label.site.email_us}"/>
                  </apex:outputText>
             </apex:outputPanel>

          <div style="height: 200px"></div>
      </div>
    </apex:define>
  </apex:composition>
</apex:page>