<apex:page id="GeneratePaymentBatch" standardController="Payment_Batch__c" extensions="PaymentBatchController" >
    <apex:includescript value="//code.jquery.com/jquery-1.11.3.min.js" />
    <c:ShowBusy />
    <apex:actionStatus onStart="showBusy();" onStop="hideBusy();" id="busy" />
    <apex:sectionheader title="{!$ObjectType.Payment_Batch__c.Label}" subTitle="{!Payment_Batch__c.Name}"
                        description="To proceed with creating the {!IF(ISBLANK($CurrentPage.parameters.extract), 'Payment Batch Items', 'Extract File')} please click the {!IF(ISBLANK($CurrentPage.parameters.extract), 'Generate Items', 'Create Extract File')} button."/>
    <div class="bPageTitle"><div class="ptBreadcrumb">&nbsp;«&nbsp;<a href="/{!Payment_Batch__c.Id}">Back to Payment Batch: {!Payment_Batch__c.Name}</a></div></div>
    <apex:pageMessages id="msg" escape="false"/>
    <apex:form >
        <apex:pageblock >
            <apex:pageblockbuttons location="top">
                <!--<apex:commandbutton value="Return" action="{!URLFOR($Action.Payment_Batch__c.View, Payment_Batch__c.ID)}" />-->
                <!--<apex:commandbutton value="{!IF(ISBLANK($CurrentPage.parameters.extract), 'Generate Items', 'Create Extract File')}"-->
                                    <!--action="{!Generate}"-->
                                    <!--onclick="$(this).hide();"-->
                                    <!--rerender="msg"-->
                                    <!--status="busy"/>-->
                <apex:commandbutton value="Generate Items"
                                    rendered="{!ISBLANK($CurrentPage.parameters.extract)}"
                                    action="{!GeneratePaymentItems}"
                                    onclick="$(this).hide();"
                                    rerender="msg"
                                    status="busy"/>
                <apex:commandbutton value="Create Extract File"
                                    rendered="{!NOT(ISBLANK($CurrentPage.parameters.extract))}"
                                    action="{!GenerateExtractFile}"
                                    onclick="$(this).hide();"
                                    status="busy"/>
                <apex:commandbutton value="Cancel" action="{!URLFOR($Action.Payment_Batch__c.View, Payment_Batch__c.ID)}" immediate="true"/>
            </apex:pageblockbuttons>
        </apex:pageblock>
    </apex:form>
</apex:page>