<apex:page id="loginPage" controller="SiteLoginController" showHeader="false" title="{!$Label.site.site_login}">
  <apex:composition template="{!$Site.Template}">
    <apex:define name="body">
        <apex:form >
            <div style="margin-right: auto; margin-left: auto;width:350px;margin-top: 3rem">
                <div class="slds-grid slds-grid--vertical slds-grid--align-center" >
                    <div class="slds-container--small slds-p-around--small" style="text-align: center;">
                        <apex:image url="{!URLFOR($Resource.SAHealthLogo)}"/>
                    </div>
                </div>
                <apex:pageMessages id="error"/>
                <div class="slds-grid slds-grid--vertical slds-grid--align-center slds-box" >
                    <div class="slds-container--small slds-p-around--small" >
                        <div class="slds-form-element">
                            <label class="slds-form-element__label" for="username">{!$Label.site.username}</label>
                            <div class="slds-form-element__control">
                                <apex:inputText id="username" value="{!username}" styleClass="slds-input"/>
                            </div>
                        </div>
                    </div>
                    <div class="slds-container--small slds-p-around--small" >
                        <div class="slds-form-element">
                            <label class="slds-form-element__label" for="password">{!$Label.site.password}</label>
                            <div class="slds-form-element__control">
                                <apex:inputText id="password" value="{!password}" styleClass="slds-input"/>
                            </div>
                        </div>
                    </div>
                    <div class="slds-container--small slds-p-around--small" >
                        <apex:commandButton action="{!login}" value="{!$Label.site.login_button}" id="loginButton" styleClass="slds-button slds-button--brand slds-size--1-of-1" />
                    </div>
                    <div class="slds-container--small slds-p-around--small" >
                        <apex:outputLink value="{!$Page.ForgotPassword}" styleClass="slds-float--left"> {!$Label.site.forgot_your_password_q}</apex:outputLink>
                        <apex:outputLink value="{!$Page.SiteRegister}" rendered="{!$Site.RegistrationEnabled}" styleClass="slds-float--right">Sign up</apex:outputLink>
                    </div>
                </div>
            </div>
        </apex:form>
      <!--<center>-->
        <!--<apex:panelGrid bgcolor="white" columns="1"> -->
          <!--<br/>-->
          <!--<br/>-->
          <!--<apex:panelGrid width="758" cellpadding="0" cellspacing="0" bgcolor="white" columns="1" styleClass="topPanelContainer"> -->
            <!--<br/>-->
            <!--<apex:outputPanel layout="block" styleClass="topPanel">-->
              <!--<apex:panelGrid width="758" cellpadding="0" cellspacing="0" bgcolor="white" columns="2"> -->
                <!--&lt;!&ndash;<apex:image url="{!URLFOR($Resource.SiteSamples, 'img/clock.png')}"/>&ndash;&gt;-->
                <!--<apex:image url="{!URLFOR($Resource.SAHealthLogo)}"/>-->
                <!--<apex:panelGroup >-->
                  <!--<br/>-->
                  <!--<apex:outputText styleClass="title" value="{!$Label.site.login}"/>-->
                  <!--<br/>-->
                  <!--<c:SiteLogin id="siteLogin"/>-->
                  <!--<br/>-->
                <!--</apex:panelGroup>-->
              <!--</apex:panelGrid> -->
             <!--</apex:outputPanel>-->
            <!--&lt;!&ndash;<c:SitePoweredBy />&ndash;&gt;-->
          <!--</apex:panelGrid> -->
       <!--</apex:panelGrid>-->
      <!--</center>-->
    </apex:define>
  </apex:composition>
</apex:page>