<apex:component >
    <apex:attribute name="OptionsList"
                    type="SelectOption[]"
                    required="true"
                    description="List of field SelectOptions" />
    <apex:attribute name="GroupName"
                    type="String"
                    required="true"
                    description="Group name"/>
    <apex:attribute type="String"
                    name="Field"
                    description="API Name of the Field"
                    required="true" />
    <apex:attribute name="sObject"
                    type="SObject"
                    description="The current SObject Record"
                    required="true" />
    <apex:variable value="{!0}" var="i" />
    <apex:repeat value="{!OptionsList}" var="o">
        <label class="slds-checkbox">
            <input type="checkbox" name="{!GroupName}" id="{!GroupName}-{!i}" data-value="{!o.Label}" />
            <span class="slds-checkbox--faux"></span>
            <span class="slds-form-element__label">{!o.Label}</span>
        </label>
        <script>
            if({!IF(CONTAINS(sObject[Field], o.Label), true, false)})
            {
                $('#{!GroupName}-{!i}').attr('checked', 'checked');
            }
        </script>
        <apex:variable value="{!i + 1}" var="i" />
    </apex:repeat>
    <script>
        $('input[name={!GroupName}]').change(function()
        {
            var selectedVal = '';
            $('input[name={!GroupName}]').each(function(i, el)
            {
                if($(this).is(':checked'))
                {
                    selectedVal += $(this).data('value') +';';
                }
            });
            $('input[id$={!Field}]').val(selectedVal);

            if (typeof(callback{!GroupName}) !== 'undefined' && typeof(callback{!GroupName}) === 'function') {
                callback{!GroupName}(selectedVal);
            }
        });
    </script>
</apex:component>