<apex:component >
    <apex:attribute name="Label"
                    type="String"
                    description=""
                    required="true" />
    <apex:attribute name="ElementId"
                    type="String"
                    description=""
                    required="true" />
    <apex:attribute name="Required"
                    type="Boolean"
                    description=""
                    required="false"
                    default="false" />
    <apex:attribute name="FormElementStyle"
                    type="String"
                    description=""
                    required="false"
                    default="slds-size--1-of-2" />
    <apex:attribute name="InputElementStyle"
                    type="String"
                    description=""
                    required="false"/>

    <div class="slds-form-element {!FormElementStyle}">
        <label class="slds-form-element__label" for="{!ElementId}">
            {!Label}<!--<apex:outputText value="'\<abbr class=\"slds-required\" title=\"required\"\>*\</abbr\>'" rendered="{!Required}" escape="false"/>-->
        </label>
        <div class="slds-form-element__control">
            <input id="{!ElementId}" class="slds-input {!InputElementStyle}" type="text" placeholder="{!Label}" />
        </div>
    </div>
</apex:component>