<apex:component controller="EmailTemplateController" access="global">
    <apex:attribute name="RelatedToUserID"
                    type="String"
                    description="Email recipient"
                    assignto="{!UserId}" />
    <apex:attribute name="CommunityName"
                    type="String"
                    description="Community name" />
    <apex:attribute name="CommunityURL"
                    type="String"
                    description="Community URL" />
    Profile: {!RelatedToUser.Profile.Name}
    <apex:outputpanel rendered="{!RelatedToUser.Profile.Name == 'Customer Community - Client / Applicant'}">
        -- Applicant --
        Hi {!RelatedToUser.Name},

        Welcome to {!CommunityName}! To get started, go to {!CommunityURL}

        Username: {!RelatedToUser.Username}

        Thanks,
        {!$Organization.Name}
    </apex:outputpanel>
    <apex:outputpanel rendered="{!RelatedToUser.Profile.Name == 'Customer Community - Delegate'}">
        -- Applicant --
        Hi {!RelatedToUser.Contact.Salutation} {!RelatedToUser.Name},

        Welcome to {!CommunityName}! To get started, go to {!CommunityURL}

        Username: {!RelatedToUser.Username}

        Thanks,
        {!$Organization.Name}
    </apex:outputpanel>
    <apex:outputpanel rendered="{!RelatedToUser.Profile.Name == 'Customer Community - Specialist'}">
        -- Specialist--
        Hi {!RelatedToUser.Contact.Salutation} {!RelatedToUser.Name},

        Welcome to {!CommunityName}! To get started, go to {!CommunityURL}

        Username: {!RelatedToUser.Username}

        Thanks,
        {!$Organization.Name}
    </apex:outputpanel>
</apex:component>